body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-editing,
li,
ul {
    border: none;
    outline: none;
    cursor: text;
    list-style-type: none;
    font: inherit;
}

.checklist-items-list {
    margin-left: 5rem;
}

.add-sub-item-button {
    background-color: #bcbcbc;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-sub-item-button:hover {
    background-color: #6c6c6c;
}
