/* ChecklistDetails.css */
.checklist-details-container {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checklist-details {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.checklist-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
